:root {
  --first-animation: 1.5s;
  --second-animation: 0.3s;
  --secondEnd-delay: calc(
    var(--first-animation) + var(--second-animation) + var(--second-animation) +
      var(--second-animation) + var(--second-animation)
  );
  --thirdEnd-delay: calc(var(--second-animation) + var(--secondEnd-delay));
  --third-animation: 1s;
  --landing-animation: 0.5s;
  --landingEnd-delay: calc(var(--third-animation) + var(--thirdEnd-delay));
  --cubic: cubic-bezier(0.09, 0.87, 0.76, 1.06);
  --bg-color: #ffff;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}
.landing_wrapper {
  color: #ffff;
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  background-color: transparent;
  animation: landingRemove var(--landing-animation) var(--landingEnd-delay)
    var(--cubic) forwards;
  z-index: 999999;
}
.landing_wrapper * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 900;
}

.landing_wrapper > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  z-index: 100;
  justify-content: center;
}
.first_animation {
  overflow: hidden;
}
.first_animation > div {
  opacity: 0;
  visibility: hidden;
  transform: translateY(80px);
  animation: firstAnimation var(--first-animation) var(--cubic) forwards;
}
.second_animation {
  display: flex;
  overflow: hidden;
}
.second_animation > div {
  margin-right: 20px;
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom left;
  visibility: hidden;
}
.second_text1 {
  animation: secondAnimation var(--second-animation)
      calc(var(--first-animation)) var(--cubic) forwards,
    secondAnimationEnd var(--second-animation) var(--secondEnd-delay)
      var(--cubic) forwards;
}
.second_text2 {
  animation: secondAnimation var(--second-animation)
      calc(var(--first-animation) + var(--second-animation)) var(--cubic)
      forwards,
    secondAnimationEnd var(--second-animation) var(--secondEnd-delay)
      var(--cubic) forwards;
}
.second_text3 {
  animation: secondAnimation var(--second-animation)
      calc(
        var(--first-animation) + var(--second-animation) +
          var(--second-animation)
      )
      var(--cubic) forwards,
    secondAnimationEnd var(--second-animation) var(--secondEnd-delay)
      var(--cubic) forwards;
}
.landing_wrapper > .third_animation {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  width: 100%;
  z-index: 50;
  background-color: transparent;
  /* transform: translateY(-50%) scaleX(0); */
  /* z-index: 1; */
  /* animation: thirdAnimation var(--third-animation) var(--thirdEnd-delay)
    var(--cubic) forwards; */
}
.third-1 {
  width: 50%;
  background-color: black;
  height: 100%;
  transform: translateX(0);
  animation: thirdAnimation var(--third-animation) var(--thirdEnd-delay)
    var(--cubic) forwards;
}
.third-2 {
  width: 50%;
  height: 100%;
  transform: translateX(0);
  background-color: rgb(170, 231, 1);
  animation: thirdAnimationR var(--third-animation) var(--thirdEnd-delay)
    var(--cubic) forwards;
}

@keyframes firstAnimation {
  0% {
    opacity: 1;
    transform: translateY(80px);
    visibility: visible;
  }
  40% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-2px);
  }
  50%,
  90% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
  }
}

@keyframes secondAnimation {
  to {
    opacity: 1;
    transform-origin: bottom left;
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes secondAnimationEnd {
  to {
    opacity: 0;
  }
}

@keyframes thirdAnimation {
  to {
    transform: translateX(-100%);
  }
}
@keyframes thirdAnimationR {
  to {
    transform: translateX(100%);
  }
}

@keyframes landingRemove {
  0% {
    height: 100vh;
    opacity: 0;
    visibility: hidden;
  }
  80% {
    opacity: 0;
    height: 100vh;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    height: 0px;
    visibility: hidden;
  }
}

.content {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.content * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 900;
}
